h1 { color: #1B7F89;
font-size: 40px;
text-align: center;
background-color: #324B4E;
padding: 10px;
margin: 0% -10px;}

p {text-align: center;
border: 3px solid #1B7F89;}

h2 { text-align: center;
    color: #324B4E;}

body {background-color: #D3FBD8;}
img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    border-radius: 50%;
}

aside {background-color: #324B4E;
       margin: 0 -10px;}

a {  background-color: #324B4E;
  color: #1B7F89;
  border: #1B7F89 solid 3px;
  border-radius: 5%;
  padding: 14px 25px;
  margin: 7px;
  text-decoration: none;
  display: inline-block;
  display: flex;
  justify-content: center;
  align-items: center;}

a:hover { color: #324B4E;
          background-color: #1B7F89;}

footer {background-color: #b7beb2;
margin: 10px -10px;}
#ContactDetails {color: #b7beb2;}

body {font-family: 'Gill Sans', 'Gill Sans MT', 'Trebuchet MS', sans-serif;}

#intro {text-align: center;
border: 3px solid #1B7F89;
box-sizing: border-box;}