h1 { color: #1B7F89;
font-size: 40px;
text-align: center;
background-color: #324B4E;}

p {text-align: center;
border: 3px solid #1B7F89;}

h2 { text-align: center;
    color: #324B4E;}

body {background-color: #D3FBD8;}
img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

a {  background-color: #324B4E;
  color: #1B7F89;
  padding: 14px 25px;
  text-align: center;
  text-decoration: none;
  display: inline-block;}

footer {background-color: #47891b;}
#ContactDetails {color: #47891b;}

